/* 
root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #868e96;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #868e96;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
***********************************
First Color : #08526d
Second Color : #ec1c23
***********************************
*/

body{
    height:7000px;
}


/*Start Upper Bar*/

.upper-bar{
    background-color: #08526d;
    color: #FFF;
     
}

.upper-bar .info{
    margin: 15px 
}

@media(max-width:576px){
    .upper-bar .info:first-child {
        margin-bottom: 0
    }
}



.upper-bar .spn1 {
    color: #bfc6c9;
}

@media(max-width:576px){
.upper-bar .spn1{
  border: none;
    }
}




.upper-bar .pl{
    float: left;    
}
@media(max-width:576px){
    .upper-bar .pl{
           margin-left: 80px
    }
  
}

.upper-bar .pr{
   float: right;
     position: relative;
    left: 30px;  
}

.upper-bar .btn{
    display: inline-block;
    border: 1px solid #F00;
    background: rgba(0,0,0,0);
    position: relative;
    right: 60px;
}

@media(max-width:576px){
    .upper-bar .btn{
        border: none;
        position: relative;
        left: -90px
       
    }
}
.upper-bar .spn-let{
    position: relative;
    right:100px
}
/*End Upper Bar*/

/*Start Navbar*/

.navbar-brand > span{
    
    font-size: 40px;
}

.navbar-brand span:first-child{
    font-weight: bold;
    color: #08526d;   
}
.navbar-brand span:last-child{
    color: #ec1c23;   
}

.navbar-nav .nav-link{
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 20px;
     color: #08526d;
    font-weight: bold;
}

.navbar-light .navbar-nav .active>.nav-link{
     color: #ec1c23; 
}
/*Start Navbar*/



/*Start Slider*/

.slider{
    background-color: #DDD;
}

.slider .carousel-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:768){
   .slider .carousel-inner {
     justify-content: center;
    }
}

.slider .carousel-inner h1 {
    
    position: absolute;
    color: #FFF;
    z-index: 3;
    font-size: 50px;
    max-width: 800px;
    line-height: 1.5;
    left: 100px;
    margin-right: 100px;
}



@media(max-width:992px){
    
    .slider .carousel-inner h1 {
       font-size: 50px;
       
    }
}
@media(max-width:768px){
    
    .slider .carousel-inner h1 {
       font-size: 40px;
        max-width: 100%;
        left: auto;
        text-align: center;
    }
}
.slider .carousel-inner h1 span{
    
 background-color:   #ec1c23;
    color: #FFF;
    display:inline-block;
    padding: 2px 10px;
}





.slider .carousel-inner .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 2;
}

.slider .carousel-item{
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}
.slider .carousel-one{
    background-image: url('../img/03.jpg')
}
.slider .carousel-two{
    background-image: url('../img/02.jpg')
}
.slider .carousel-three{
    background-image: url('../img/01.jpg')
}





.slider .carousel-indicators li{
      
    width: 20px;
    height: 19px;
    border-radius: 50%;
    cursor: pointer;
}
/*End Slider */

/*Start Features*/

.features{
    padding: 50px;
}

.features i{
 
    background-color: #ed1d24;
    color: #FFF;
    padding: 14px;
    margin-bottom: 15px;
}

.features h3{
    color: #08526d;
    font-size: 22px;
}
.features p{
    color: #959999;
    margin-bottom: 40px;
}
/*End Features*/



/*Start Overview*/

.overview{
    padding: 100px;
    background-color: #f0f5f7;
}


.overview h2{
 font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;  
}
@media(max-width:992px){
   .overview h2{
 font-size: 30px;

    margin-bottom: 15px;  

} 
}


.overview p {
    line-height: 2;
    font-size: 20px;
    width: 80%;
    margin: 0 auto 15px;
    color: #6a6a6a;
   
}
@media(max-width:992px){
   .overview p {
    width: 100%;
} 
}


.overview h4{
    letter-spacing: 2px;
    font-weight: normal;
    color: #8b8a8a;
    margin-bottom: 40px;
    
}
.overview button{
    background-color: #ed1d24;
    color: #FFF;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #ed1d24;
    
    
}
/*End Overview*/


/*Start Featured Work*/

.featured-work{
    padding: 100px 0;
}

.featured-work h2{
 font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
    
}

.featured-work p {
    
    line-height: 2;
    font-size: 20px;
    width: 80%;
    margin: 0 auto 15px;
    color: #6a6a6a;
   
    
}

.featured-work ul{
    margin-top: 40px;
    margin-bottom: 50px;
}
.featured-work ul li{
    color: #08526d;
    border: 2px solid #08526d;
    padding: 10px 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    
}

.featured-work ul li.active,
    .featured-work ul li:hover{
    background-color: #ec1c23;
    color: #FFF;
    border: 2px solid #ec1c23;
}

.featured-work ul li:hover{
cursor: pointer;
}

.featured-work .shuffle-imgs .row{
   margin: 0 
    
}

.featured-work .shuffle-imgs .row .col-md{
    padding: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    
}

.featured-work .row img{
    width: 100%;
}
 
/*End Featured Work*/

/*Start Latest Posts*/

.latest-posts{
    padding: 0 0 100px ;
}


.latest-posts h2{
 font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
    
}

.latest-posts p {
    line-height: 1.5;
    font-size: 20px;
    width: 80%;
    margin: 0 auto 15px;
    color: #6a6a6a;
}
.latest-posts .section-dec {
    line-height: 2;
    font-size: 20px;
    width: 80%;
    margin: 0 auto 15px;
    color: #6a6a6a;
}

.latest-posts .card {
    margin-bottom: 30px;
    
}
.latest-posts .card .card-link {
    font-size: 20px;
    font-weight: bold;
    color: #d9141a;
    
}

/*End Latest Posts*/
/*Start  Testimonials*/

.testmonials {
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-image: url('../img/testimonials.jpg');
    position: relative;
    height: 800px;
}

.testmonials .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 2;
}


.testmonials .container{
    position: relative;
    z-index: 3;
}

.carousel-control-next, 
.carousel-control-prev{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 400px;
    border-radius: 10px;
      
    
}

.testmonials .carousel-inner .carousel-item img {
   border-radius: 50%;
    width: 150px;
    position: relative;
    top: 250px;
      
}

.testmonials .carousel-inner .carousel-item h3  {
    position: relative;
    bottom: -20px;
     
    
}
.testmonials .carousel-inner .carousel-item p  {
    position: relative;
    bottom: -20px;
   
}

.testmonials .carousel-indicators li{
              
    border-radius: 50%;
    width: 28px;
    height: 30px
}
/*End  Testimonials*/

/*Start Latest Posts*/

.pricing-table{
    background-color: #f7f7f7;
    padding: 100px 0 100px ;
}


.pricing-table h2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
    
}

.pricing-table .card-body{
    padding: 0;
}

.card-title {
    margin-bottom: .75rem;
    margin-top: 30px;
     padding-bottom: 20px 0;
}
.pricing-table .card .card-text1{
    background-color: #f7f7f7;
    width:350px;
    font-size: 40px;
    font-weight: bold;
    color: #08526d;
    height: 60px;
    margin-left:  0px;
  
}


.pricing-table .card .card-text1 span{
    background-color: #f7f7f7;
    width:350px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
     
}

.pricing-table .card .card-text2 span{
    background-color: #f7f7f7;
    width:350px;
    font-size: 20px;
    font-weight: bold;
     
}
.pricing-table p {
    line-height: 1.5;
    font-size: 20px;
    width: 80%;
    margin: 0 auto 15px;
    color: #6a6a6a;
}
.pricing-table .section-dec {
    line-height: 2;
    font-size: 20px;
    width: 80%;
    margin: 0 auto 15px;
    color: #6a6a6a;
}

@media(max-width:992px){
    
}

.pricing-table .card {
    margin-bottom: 30px;
    
}
.pricing-table .card-body {
     padding-top: 30px ;
}
.card{
     border: none;
    padding-bottom: 20px 0;
     
}
.pricing-table .list-group-item{
    border: none;
        padding-bottom:   0;
        margin-bottom: 10px
}
.pricing-table .card .card-link {
    font-size: 20px;
    font-weight: bold;
    color: #d9141a;
    
}
.pricing-table .card-body {
    padding: 0;
    padding-bottom: 50px;
    padding-top: 20px;
}
.pricing-table .card .card-link {
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    display: inline-block;
    background-color: #ed1d24;
    padding: 9px 20px;
    margin: x;
    margin-top: 20px;
}

.pricing-table .card.Corporate{
position: relative;
    top: -20px;
}


.pricing-table .card.Corporate .card-link{
    background-color: #08526d;
    font-size: 20px;
    font-weight: bold;
}
.pricing-table .card.Corporate .card-text1 {
     background-color: #ed1d24;
    color: #FFF;
    
}
.pricing-table .card.Corporate .card-text1 span{
     background-color: #ed1d24;
    color: #FFF;
    
}

@media(max-width:991px){
    .pricing-table .card.Corporate{
        position: relative;
    top: 0;
}
}
@media(max-width:767px){
    .pricing-table .card.Corporate .card-text1{
            margin-left: 0 auto;
    width: 326px;
    }
}

@media(max-width:991px){
    .pricing-table .card.Corporate .card-text1{
        position: relative;
            margin-left:   auto;
    width: 237px;
    }
}
@media(max-width:991px){
    .pricing-table .card .card-text1{
        text-align: center;
            margin-left: auto;
    }
}

@media(max-width:767px){
    .pricing-table .card .card-text1{
        text-align: center;
            margin-left: auto ;
    }
}

/*End Latest Posts*/

/*Start Choose Us*/
.choose-us img{
    max-width: 100%;
    
}

.choose-us .info{
    padding: 0;
    
}
.choose-us .info:last-child{
    background-color: #08526d;
    color: #FFF;
    padding-top: 30px;
    
    
}
.choose-us h2{
    margin: 0px;
    margin-left: 30px;
    padding-bottom: 20px;
    padding-top: 0px
}

.choose-us p{
    margin-left: 30px;
    line-height:2;
     font-size: 18px;
}
.choose-us .read-more{
 display: inline-block;
    padding: 8px 20px;
    margin: 0 0 0 40px;
    background-color: #ed1d24;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    
}


/*End Choose Us*/


/*Start STats*/

.stats{
    padding: 100px 0;
    color: #08526d;
}

.stats .number{
    display: block;
    font-size: 50px;
    font-weight: bold;
    
}


.stats p {
    color: #ed1d24;
    font-size: 20px;
    margin: 0
}


/*End Stats*/

/*Start Contact Us*/
.contact-us{
  padding: 80px 0;
    background-color: #ed1d24;
    color: #FFF;
    font-size: 25px;
}
.contact-us p{
 margin: 0;
    font-size: 30px
}

.contact-us a{
       color: #FFF;
    border: 2px solid #FFF;
    padding: 6px 15px 8px;
    text-transform: uppercase;
    font-weight: bold;
    
}

/*End Contact Us*/

/*Start Footer*/

.footer{
    padding: 100px 0
}
.footer .site-info h2{
    font-size: 50px;
    margin-bottom: 35px;
}

.footer .site-info h2 span:first-child{
    font-weight: bold;
    color: #08526d;   
}
.footer .site-info h2 span:last-child{
    color: #ec1c23;   
}
.footer .site-info p{
line-height: 1.8;
    color: #727272;
    
}
.footer .site-info a{
    color: #08526d;
    font-size: 20px;
   
 
}

.footer .site-info a:before{
    font-family: 'FontAwesome';
    content: "\f138";
    display: inline-block;
}

.footer .helpful-links h2,
.footer .contact h2{
    font-size: 22px;
    color: #08526d;
    margin-bottom: 68px;  
}

.footer .helpful-links ul li:before {
     font-family: 'FontAwesome';
    content: "\f054";
    margin-right: 5px;
    color: #08526d;
    font-size: 15px;
    position: relative;
    top: -1px;
     margin-bottom: 10px;
}
.footer .contact ul li {
    margin-bottom: 24px;
}
/*End Footer*/
    
/*    Start copyright*/


.copyright{
    border-top: 1px solid #c0c0c0;
    padding: 20px;
    
}

.copyright ul{
    margin: 0;
}
    .copyright ul li {
        display: inline-block;  
    }

 .copyright ul li a{
     color: #777;
     display: inline-block;
     margin-left: 20px;
     font-size: 18px;
     
}

    
/*    End copyright*/
